* {
    color: #6a6a6a;
}
main {
    width: 1000px;
    margin: 0 auto;
}
/* 게시판 헤더 */
.board-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: white;
}
.board-title {
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.board-description {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.searchbar {
    width: 392px;
    height: 32px;
    border: 2px solid #CEDD61;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.searchbar input {
    height: 30px;
    border: none;
    flex-grow: 1; /* input이 버튼을 제외한 나머지 공간을 차지함 */
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
}
.search-btn {
    width: 45px;
    height: 32px;
    border: none;
    background-color: #CEDD61;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.write-btn {
    width: 392px;
    height: 32px;
    border: none;
    background-color: #999;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

/* 게시판 전체 영역 */
.free-board-container {
    width: 100%;
    min-height: 500px;
    display: flex;
}
/* 왼쪽 카테고리 영역 */
.community-category-container {
    width: 140px;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 17px;
    overflow: hidden;
    margin-right: 20px;
}
.community-category-container div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.community-category-container img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.community-category-container span {
    font-weight: bold;
    color: black;
}
.community-category-container li {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.community-category-container li:hover {
    background-color: #CEDD61;
    color: black;
}
/* 자유게시판 영역 */
.board-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* 게시글 목록 */
.free-list-wrap {
    min-height: 400px;
}
.free-list {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 10px;
}
.post-num {
    padding: 0 10px;
    color: black;
}
.post-title {
    width: 410px;
    padding: 0 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    /* 타이틀 영역 넘어가면 말줄임 */
    white-space: nowrap; 
    overflow: hidden;          
    text-overflow: ellipsis;
}
.user-nickname {
    width: 150px;
    padding: 0 10px;
    color: black;
}
.post-info-wrap {
    display: flex;
    align-self: self-end;
    align-items: center;
    font-size: 14px;
}
.post-write-time {
    margin-right: 8px;
}
.post-icon-wrap {
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.post-icon-wrap img {
    width: 15px;
    height: 15px;
    object-fit: fill;
    margin-right: 2px;
}