<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserHeaderLogin</title>
  <link rel="stylesheet" href="../../../static/css/reset2.css">
  <link rel="stylesheet" href="/moamz_publishing/static/css/main/fragment/header/userHeaderLogin.css">
</head>
<body>
  <div id="container">
    <div class="header">
      <img src="/moamz_publishing/static/img/main/fragment/header/logo.png">
      <ul class="header-search">
        <li>
          <a href="#">서비스소개</a>
        </li>
        <li>
          <a href="#">쇼핑</a>
        </li>
        <li>
          <!-- <div class="community-dropdown-box"> -->
            <a href="#">커뮤니티</a>
            <!-- <img src="../../../../static/img/main/fragment/header/communityDropdownIcon.png" class="dropdown-icon" alt="드롭다운 아이콘"> -->
            <div class="dropdown-content">
              <a href="/moamz_publishing/html/community/ecoproject/ecoList.html">에코프로젝트</a>
              <a href="/moamz_publishing/html/community/socialing/socialingList.html">소셜링</a>
              <a href="/moamz_publishing/html/community/receipe/receipeList.html">레시피</a>
              <a href="/moamz_publishing/html/community/sharing/sharingList.html">나눔게시판</a>
              <a href="/moamz_publishing/html/community/free/freeList.html">자유게시판</a>
            </div>
          <!-- </div> -->
        </li>
        <li>
          <a href="#">공지사항</a>
        </li>
      </ul>
      <div class="search">
        <input type="text">
        <a href="#"><img src="/moamz_publishing/static/img/main/fragment/header/search.jpg"></a>
      </div>
      <div class="header-btn">
        <div class="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/user.png"></div>
        <div class="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/chat.png"></div>
        <div class="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/cart.png"></div>
        <div class="btn-img">
          <img src="/moamz_publishing/static/img/main/fragment/header/notification.png">
          <div class="notification-dropdown">
            <div class="notification-dropdown-box" onclick="location.href='#'">
              <div class="userMypagePurchaseImg">
                <img src="/moamz_publishing/static/img/main/fragment/header/userMypagePurchaseImg.png" alt="구매상세이미지">
              </div>
              <div class="userMypagePurchaseText">
                <span id="purchase-name">[Dole] 스위티오 바나나 1kg</span>
                <img src="/moamz_publishing/static/img/main/fragment/header/purchaseNextIcon.png" alt="바로가기 아이콘">
                <div id="purchase-already">상품이 준비되었어요!</div>
              </div>
            </div>  
            <div class="notification-dropdown-box" onclick="location.href='#'">
              <div class="userMypagePurchaseImg">
                <img src="/moamz_publishing/static/img/main/fragment/header/userMypagePurchaseImg2.png" alt="구매상세이미지">
              </div>
              <div class="userMypagePurchaseText">
                <span id="purchase-name">방울토마토 500g</span>
                <img src="/moamz_publishing/static/img/main/fragment/header/purchaseNextIcon.png" alt="바로가기 아이콘">
                <div id="purchase-already">상품이 준비되었어요!</div>
              </div>
            </div>
            <div class="notification-dropdown-box" onclick="location.href='#'">
              <div class="userMypagePurchaseImg">
                <img src="/moamz_publishing/static/img/main/fragment/header/userMypagePurchaseImg3.png" alt="구매상세이미지">
              </div>
              <div class="userMypagePurchaseText">
                <span id="purchase-name">고당도 상주샤인머스캣1.5kg</span>
                <img src="/moamz_publishing/static/img/main/fragment/header/purchaseNextIcon.png" alt="바로가기 아이콘">
                <div id="purchase-already">상품이 준비되었어요!</div>
              </div>
            </div>
          </div>
        </div>
        <button class="login" type="button">로그인</button>
      </div>
    </div>
  </div>
</body>
</html>