<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserFooter</title>
  <link rel="stylesheet" href="/moamz_publishing/static/css/main/fragment/footer/userFooter.css">
</head>
<body>
  
    <div class="footer-wrap">
      <div class="company">
        <ul class="company-list">
          <li><strong>모아엠지</strong></li>
          <li id="list-text">모아엠지 소개</li>
          <li>쇼핑</li>
          <li>커뮤니티</li>
          <li>공지사항</li>
        </ul>
      </div>  
      <div id="notice">
        <ul class="moamz-info">
          <li>개인정보처리방식</li>
          <li>이용약관</li>
          <li>We Are Hiring</li>
        </ul>
        <div class="notice-text">
          <span>(주)모아엠지 | 대표자: 고태민  | 사업자번호: 499-81-00612 </span><br>
          <span>통신판매업: 2024-강남구 테헤란로 146 | 개인정보보호책임자: 황진 | 이메일: pangjini@gmail.com</span><br>
          <span>전화번호: 02-538-0021 | 주소: 강남구 테헤란로 146 코리아IT 아카데미 강남점</span><br>
          <br>
          <span id="notice-text-box">©MOAMZ. ALL RIGHTS RESERVED</span>
        </div>
      </div>
    </div>
 
</body>
</html>