/* a 태그 기본 스타일 제거 */
a {
    color: inherit; /* 링크 색상 제거 */
    text-decoration: none; /* 밑줄 제거 */
    background: none; /* 배경색 제거 */
    outline: none; /* 포커스시 나타나는 외곽선 제거 */
}
/* 버튼 reset css */
button{
    background: none;      /* 배경 제거 */
    border: none;          /* 테두리 제거 */
    padding: 0;            /* 기본 패딩 제거 */
    margin: 0;             /* 기본 마진 제거 */
    box-shadow: none;      /* 그림자 제거 */
    cursor: pointer;       /* 마우스를 올리면 클릭 커서가 나타나도록 설정 */
    outline: none;         /* 포커스시 나타나는 외곽선 제거 */
}
header{
    height: 70px;
    background-color: #ffffff;
    align-items: center;/* 높이를 맞춰 중앙 정렬 */
    box-shadow: 0px 2.49px 7.18px rgba(0, 0, 0, 0.16);  
    position: relative;
    display:flex;
    justify-content: space-between;
}
main{
    /* width: 1000px; */
    margin: 0 auto;
    height: 100vh;
}

/* 로고 */
header .admin-logo{
    display: flex;
    align-items: center;  
    padding-left: 20px;
}
/* 로고 이미지 */
header .admin-logo img{
    width: 35px;
    margin-right: 10px;
}
/* 타이틀 */
 header .admin-logo div{
    color: #0B3051; 
    font-weight: bold;
    font-size: 25px;
}
/* 나가기 버튼 box */
 header .admin-logout__btn{
    width: 60px;
    height: 25px;
    border: 1px solid #0B3051;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
/* 나가기 폰트 */
header .admin-logout__btn a{
    font-size: 17px; 
    color:#1B494C;
}
header .admin-logout__btn:hover{
    background-color: #1B494C;
}
header .admin-logout__btn a:hover{
    color:white;
    background-color: #1B494C;
}
/* 좌측 네비바 */
nav{
    background-color: #ffffff;
}
/* 네비바 전체 */
nav ul{
    padding-top: 30px;
    padding-left: 13px;

    /* li들간에 위아래 간격 9px주기 */
    display: flex;
    flex-direction: column;
    gap:25px
}
nav ul li{
    display: flex;
    height: 26px;
    align-items: center ;
    margin-right: 10px;
}
nav ul li .nav-logo{
    margin-right: 11.76px;
}

 nav ul li .nav-logo img{
    width: 20px;
}
 nav ul li .nav-title a{
    font-size: 20px;
    color: #5D7285;
}
 nav ul li{
    width: 151px;
    height: 45px;
}
nav ul li:hover{
    background-color: #F0F6FF;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: #F0F6FF;
    font-weight: bold;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* 네비바+메인화면의 부모인 main */
main{
    display: flex;
}
/* 타이틀 + 카운팅카드뷰 + 에코프젝 + 그래프의 부모 */
main .content-box{
    display: flex;
    flex-direction: column;
    background-color: #1B494C;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
/* 타이틀 */
main .content-box .page-title-box{
   top: 30px;
   left: 8px;
}
main .content-box .page-title-box .page-title{
    font-size:25px;
    color: #ffffff;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.title-and-btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

}
.go-list-btn{
    width: 150px;
    height: 25px;
    background-color: white;
    border-radius: 3px;
    transform: translateX(-40px);
    border: 1px solid #1B494C;

}

.go-list-btn button{
   width: 100%;
    font-size: 15px;
    color:#1B494C;
    transform: translateY(20%);
}
/* 흰색 게시판 전체 */
.content{
    width: 95%;
    height: 690px;
    background-color: #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

/* 테이블 css */
table {
    width: 100%;
    border-collapse: collapse;/* 테두리 겹치기 */
}
th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    box-sizing: border-box; /*패딩 및 테두리 크기 포함*/
}
th {
    color:#FFFFFF;
    background-color: black;
    padding:15px;
}
td img{
    width: 18px;
    transform: translateY(30%);
}
tr:hover {
    background-color: #f5f5f5;
    cursor:pointer; /*커서를 손모양으로 변경*/
}

td button{
    padding: 3px;
    color: white;
    background-color: #9E9E9E;
}
td button:hover{
    background-color:#1B494C;
    color: white;
    cursor:pointer; /*커서를 손모양으로 변경*/
}
/* 모달 */
/* 기본적으로 모달을 보이지 않게 설정 */
.modal {
    display: none; /* 숨김 처리 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 다른 내용 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면 */
    height: 100%; /* 전체 화면 */
    background-color: rgba(0,0,0,0.5); /* 반투명한 배경 */
  }
  
  /* 모달 안의 콘텐츠 */
  .modal-content {
    background-color: white;
    margin: 15% auto; /* 가운데 정렬 */
    padding: 30px;
    border: 1px solid #888;
    width: 15%; /* 너비 설정 */
    max-width: 500px;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align:left;
  }
  .modal-content  h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
  }
.custom-select{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px;
    border: 2px solid #aaa;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
  }

  /* 닫기 버튼 */
  .close {
    color: #aaa;
    float: right;
    position: relative;
    top: -20px; /* 위로 10px 이동 */
    right: -10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .point-title{
    margin-bottom: 10px;
  }
  
  .modal-btn{
    float:inherit;
  }
  .modal-btn button{
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 7px;
    color:#0B3051;
    font-weight: bold;
    position: relative;
    left: 80px;
    bottom: -10px;
    font-size: 15px;
  }
  .modal-btn button:hover{
    color: white;
    cursor: pointer;
    background-color: #0B3051;;
  }
  

/* 페이지네이션 css */
.pagination{
    position: absolute;
    right: 42%;
    bottom: 10%;
}
.page{
    
    color: black;
    font-size: 12px;
    /* border: 1px solid black; */
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #E0E0E0;
}
.pagination .active{
    color: #ffffff;
    background-color: #30595C;
}
.prev, .next{
    font-size: 10px;
    color: #9E9E9E;
}

