* {
    color: #6a6a6a;
}
main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 게시글 영역 */
.post-container {
    width: 700px;
    min-height: 600px;
    margin-bottom: 20px;
}
/* 게시물 정보 영역 */
.post-info-wrap {
    width: 100%;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #ddd;
}
.post-title {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.user-info-wrap {
    display: flex;
    align-items: center;
}
.user-info-wrap img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
.user-info-wrap .user-nickname {
    width: 160px;
    font-size: 16px;
    font-weight: bold;
}
.post-write-time-wrap {
    margin-right: 10px;
}
.post-view-count-wrap {
    margin-right: 10px;
}
.btn-wrap {
    margin-left: auto;
    margin-right: 5px;
    width: 200px;
}
/* 다른사람이 쓴 글일 때 보이는 버튼 */
.btn-others {
    text-align: right;
}
.btn-others>.chat-to-writer-btn {
    border-radius: 0;
    width: 149px;
    height: 25px;
    cursor: pointer;
}
/* 내가 쓴 글일때 보이는 버튼 */
.btn-writer {
    text-align: right;
}
.btn-writer button {
    width: 55px;
    height: 25px;
    font-size: 15px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.hidden {
    display: none;
}
/* 게시물 내용 */
.post-content-wrap {
    padding: 20px;
}
/* 목록으로 이동 버튼 */
.move-list-btn {
    background-color: #A2B541;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; 
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 0 4px 4px #6a6a6a6a;
    margin-bottom: 20px;
}